body {
    max-width: 100%;
    min-height: 150vmax;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
}

h1.main-head {
    color: darkslategrey;
    text-shadow: 1px 0.5px gainsboro ;
}

body article {
    width: 100%;
    box-sizing: border-box;
    margin: 10pt auto;
    padding: 2pt;
    /* float: left;
    clear: both; */
}

article .label {
    color: #000;
    font-weight: bold;
    padding: .5em 0;
    /* position: absolute;
    margin: 0;
    padding: 2px;
    border-left: 1px solid crimson;
    border-bottom: 1px solid crimson;
    background: darkblue;
    top: 0;
    right: 0;
    font-size: .8em; */
}

article div {
    /* position: relative; */
    color: white;
    background: gray;
    border: 2px solid darkgray;
}

article div p {
    /* padding-top: 1.5em; */
    min-height: 20em;
}

/* Desktop version */
@media (min-width:992px) {
    /* body article {
        /* clear: none; * /
        width: 33.33%;
    } */
    
    p {
        min-height: 3em;
    }
    body article div:hover {
        background-color: lightgray;
        border-color: gray;
    }
}

/* Tablet version */
/* @media (min-width:768px) and (max-width:991px) {
    body article {
        /* clear: right; * /
        width: 50%;
    }    
    body article:nth-last-child(1) {
        width: 100%;
    }    
} */

/* Mobile version */
@media (max-width:767px) {
    article div p {
       min-height: 4em; 
    }
}
